<% provide(:page_title, "About") %>

<h2 class="page-title">About Us</h2>

<div class="well well-lg">
	<span>
		<strong>Github Profiler</strong> is a web app for finding and storing Github users. The app
		enables all users (registered and unregistered) to find Github users by their
		username with the search engine on the home-page, but limits the ability to store those users' profiles only to registered
		Github Profiler users. The app also loads registered users profiles automatically 
		under their profile page if they sign up with their Github user name. In addition, the
		app allows registered Github users to sign in directly with their Github username
		and password thereby saving them the need to sign up to Github Profiler seperately.
	</span>
</div>