<% provide(:page_title, "About") %>

<h2 class="page-title">About Us</h2>

<div class="well well-lg" style="width: 820px;">
	<div class="about-text">
		<p><strong>Github Profiler</strong> is a web app for browsing and storing profiles of 
		<a href="http://www.github.com">Github</a> users.</p> 

		<p>The app's search engine on the homepage enables all users (registered or 
		unregistered) to find profiles of Github users by their username.</p>

		<p>Each profile can then be stored in the user's account for future reference (registered
		<strong>Github Profiler</strong> users only).</p> 

		<p>The app will automatically load the personal profiles of registered users,
		including extensive information about their repos, under their profile page
		(for this, users need to sign up with their Github user name).</p>

		<p>Moreover, users can use their Github username and password to directly sign in to
		<strong>Github Profiler</strong> thereby saving them the need to go through
		the registration process.</p>
	</div>
</div>
