<% provide(:page_title, "Contact") %>

<h2 class="page-title">Contact Us</h2>

<div class="well well-lg" id="contact-us">
	<span>
		For further information/queries contact us at:<br/>
		<strong>nadav.matalon@gmail.com</strong>
	</span>
</div>

