<% provide(:page_title, "Github Profile") %>

<h2 class="page-title">Github Profile</h2>
               
<div class="sign-up-form">	
	<ul class="edit-accout-form">
		<li class="profile-header-form profile-avatar"><img ng-src= "{{ avatar }}"></li>
		<li class="profile-header-form">Username</li>
		<li class="profile-content-form"> {{ username }} </li>
		<li class="profile-header-form">Email</li>
		<li class="profile-content-form"> {{ email }} </li>
		<li class="profile-header-form">URL</li>
		<li class="profile-content-form"> {{ html_url }} </li>
		<li class="profile-header-form">Joined on</li>
		<li class="profile-content-form"> {{ date  | date:'d-MM-yyyy' }} </li>
		<li class="profile-header-form">Following</li>
		<li class="profile-content-form"> {{ following }} </li>
		<li class="profile-header-form">Followers</li>
		<li class="profile-content-form"> {{ followers }} </li>
		<li class="profile-header-form">Public Repos</li>
		<li class="profile-content-form"> {{ publicRepos }} </li>
	</ul>
</div>


<%= render "devise/shared/links" %>
