<% provide(:page_title, "Help") %>

<h2 class="page-title">Help</h2>

<div class="well well-lg contact-help">
	<span>
		Need help? contact us at:<br/>
		<strong>nadav.matalon@gmail.com</strong>
	</span>
</div>