<% provide(:page_title, "Home") %>

<!-- <h2 class="page-title">Home</h2> -->

	<div class = "search-box-container">

		<input id="search-box" type="text" placeholder="Enter key-words..." autofocus required>
		<input id="search-button" type="submit" value="Search"> 

	</div>