<% provide(:page_title, "Home") %>

	<!-- <h2 class="page-title">Home</h2> -->

<div ng-controller="GitSearchController">
	<div class = "search-box-container">
		<form id='add_profile' ng-submit="loadUser()">
			<input ng-model='username_input' id="user_name" class="search-box" type="text" placeholder="Find Gitgub username..." autofocus>
 			<input id="search-button" type="submit" value="Search"> 
	    </form>		
	</div>

  	<div class="search-profile-results-container">
	    <div class="git-profile-avatar">
	    	<img src="{{ avatar }}">
	    </div>
		<div class="git-profile-info">
			<form id='save_profile-form'>
			    <ul class="search-profile">
					<li class="search-profile-data-header" id="profile-username"> {{ username }} </li>
					<li class="search-profile-data"> Name: {{ name }} </li>
					<li class="search-profile-data"> Location: {{ location }} </li>
					<li class="search-profile-data"> Email: {{ email }} </li>
					<li class="search-profile-data"> Github page: {{ html_url }} </li>
					<li class="search-profile-data"> Joined on: {{ date | date:'d-MM-yyyy' }} </li>
					<li class="search-profile-data"> Following: {{ following }} </li>
					<li class="search-profile-data"> Followers: {{ followers }} </li>
					<li class="search-profile-data"> Public repos: {{ publicRepos }} </li>
				</ul>
				<% if (current_user) %>
					<input id="save-profile" class="button_hover" ng-click='saveProfile()' type="submit" value="Save profile">
				<% end %>
			</form>
		</div>
	</div>
	<p id="result_message"></p>
</div>


