<% provide(:page_title, "Profile") %>

<h2 class="page-title">User Profile</h2>

<div class='profile-container'>
	<template id='profile-template'>
		<div class="name_1">
			<div class="profile-avatar">
				<img src="{{ avatar_url }}">
<!-- 			<h4><a href="{{ html_url }}">{{ login }}</a></h4>
			 	<h4>Repos: {{ public_repos }}</h4>
			 	<h4>Followers: {{ followers }}</h4>
			 	<h4>Email: {{ email }} </h4>
 -->			</div>
		</div>
	</template>
</div>

<div class="sign-up-form">	
	<ul class="edit-accout-form">
		<li class="profile-header-form">Name</li>
		<li class="profile-content-form"><%= current_user.name %></li>
		<li class="profile-header-form">Username</li>
		<li class="profile-content-form"><%= current_user.username %></li>
		<li class="profile-header-form">Email</li>
		<li class="profile-content-form"><%= current_user.email %></li>
		<li class="profile-content-form"></li>


		<li class="myID"></li>

	</ul>
</div>


<%= render "devise/shared/links" %>
