<% provide(:page_title, "Profile") %>

<h2 class="page-title">User Profile</h2>

<div class="sign-up-form">	
	<ul class="edit-accout-form">
		<li class="profile-header">Name</li>
		<li class="profile-content"><%= current_user.name %></li>
		<li class="profile-header">Username</li>
		<li class="profile-content"><%= current_user.username %></li>
		<li class="profile-header">Email</li>
		<li class="profile-content"><%= current_user.email %></li>
	</ul>
</div>

<%= render "devise/shared/links" %>
