<% provide(:page_title, "Profile") %>

<h2 class="page-title">User Profile</h2>
                 
<div class="sign-up-form">	
	<ul class="edit-accout-form">
		<li class="profile-header-form profile-avatar"><img ng-src= "{{ avatar }}"></li>
		<li class="profile-header-form">Name</li>
		<li class="profile-content-form"><%= current_user.name %></li>
		<li class="profile-header-form">Username</li>
		<li class="profile-content-form"><%= current_user.username %></li>
		<li class="profile-header-form">Email</li>
		<li class="profile-content-form"><%= current_user.email %></li>
	</ul>
</div>


<%= render "devise/shared/links" %>
